.cardapio {
    padding: 5%;
}

.cardapio-top {
    display: flex;
    justify-content: space-between;
}

.cardapio-titulo {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 3vw;
    margin: 0 0 3vw 0;
    text-transform: uppercase;
}

.cardapio-botao {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid black;
    letter-spacing: 1px;
    margin: 0 0 3vw 0;
    padding: 0.5vw 2vw;
    transition: all 0.3s ease;
}

.cardapio-botao:hover {
    color: white;
    background: black;
}

.cardapio-images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image-texto {
    position: relative;
}

.image-burguer {
    margin-top: 2vw;
}

.image-burguer:hover {
    filter: grayscale(90%);
    transition: all 0.3s ease;
    cursor: pointer;
}

.texto-burguer {
    bottom: 3vw;
    padding: 1.5vw;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2.5vw;
    text-shadow: 50px black;
    position: absolute;
    cursor: pointer;
}

.texto-burguer:hover {
    transition: all 0.3s ease;
    font-weight: 600;
    color: black;