.cardapio {
    box-sizing: border-box;
    padding: 5%;
}

.cardapio-top {
    display: flex;
    justify-content: space-between;
}

.cardapio-titulo {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 3vw;
    margin: 0 0 3vw 0;
    text-transform: uppercase;
}

.cardapio-botao {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid black;
    letter-spacing: 1px;
    margin: 0 1.2vw 3vw 0;
    padding: 0.5vw 2vw;
    transition: all 0.3s ease;
}

.cardapio-botao:hover {
    color: white;
    background: black;
}

.cardapio-images {
    align-items: center;
    display: flex;
    flex-wrap: no wrap;
    justify-content: space-between;
}

.image-texto {
    position: relative;

}

.image-burguer {
    margin-top: 2vw;
    width: 100%;
}

.image-burguer:hover {
    filter: grayscale(95%);
    transition: all 0.3s ease;
}

.texto-burguer {
    bottom: 3vw;
    right: 1vw;
    padding: 1.3vw 0 1.3vw 1.3vw;
    color: var(--branco);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2.5vw;
    text-shadow: 50px black;
    position: absolute;
    cursor: pointer;
}

.texto-burguer:hover {
    font-weight: 700;
    color: var(--preto);
}