footer {
    background-color: black;
    height: 10vw;
}

h4 {
    color: white;
}

ul {
    display: flex;
    justify-content: space-around;
}

a {
    color: white;
    text-decoration: none;
    
}