.sobre {
    display: flex;
    margin: 50px 100px 30px 60px;
}

.model-img {
    width: 70%;
}

.sobre-textos {
    width: 500px;
    padding: 10vh;
    
    position: absolute;
    background-color: #ffffff;
    margin: 10px;
}