:root {
    --branco: #ffffff;
    --black: #000000;
    --cinza-escuro: #8c8c8c;
    --cinza-muito-escuro: #696969;
    --fonte-principal: font-family: 'Josefin Sans', sans-serif;
    --fonte-secundaria: font-family: 'Alata', sans-serif;
}

body {
    background-color: var(--branco);
}

* {
    border: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.imagem-topo {
    background-image: url('/img/image-hero.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.texto-banner {
    margin: 0 200px 0 0;
    padding: 50px;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 10vh;
    text-transform: uppercase;
    color: #ffffff;
    border: solid #ffffff;
}